body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    color: #422f2e;
    display: flex;
    align-items: center;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.head {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.heads {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.head-bckgr {

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-two/people-office\ .jpg);


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-link {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.contacts {
    color: #2e2f42;
    font-style: normal;
    margin-left: auto;
}

.contacts :hover,
.nav-link:focus {
    color: #404bbf;
}

.button-order {
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404BBF;
}

.button-order:focus {
    color: #4D5AE5;
    background-color: #404BBF;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.paragraph-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.header-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-people {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.names-people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.people-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.header-list-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.list-our-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.other-servis {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.info {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404BBF;
}

.header-logo :hover,
.nav-link:focus {
    color: #404bbf;
}

.logo header-logo {
    color: #2e2f42;
}

.nav-item {
    color: #2e2f42;

}

.nav-item :hover,
.nav-item:focus {
    color: #404bbf;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.contacts-link {
    color: #434455;
}

.contacts-link:hover,
:focus {
    color: #404bbf;
}

.benefits {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-ul {
    display: flex;
    gap: 24px;
}

.benefits-ul-li {
    width: calc((100% - 72px) / 4);
}

.our-team-ul {
    display: flex;
    gap: 24px;
}

.list-people-li {
    padding: 32px 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.portfolio {
    margin-bottom: 72px;
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;


}

.portfolio-ul-li {
    width: calc((100% - 48px) / 3);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-ul-li:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li-container {
    position: relative;
    overflow: hidden;

}

.portfolio-li-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%) transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.soc-link-person {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.soc-links {
    width: 40px;
    height: 40px;

}

.soc-link-open {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.soc-link-open:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
}


.soc-link-open:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
}


.icon-soc-link {
    fill: #f4f4fd;
}

.icon-box {
    display: flex;
    border: solid 1px #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.icon-benefits {
    margin: auto;
}

.foter-content {
    display: flex;
    align-items: baseline;
}

.logo-paragraph {
    margin-right: 120px;
}

.footer-paragraph-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

}

.footer-soc-link-person {
    display: flex;
    gap: 16px;
}

.footer-soc-links {
    width: 40px;
    height: 40px;
}

.soc-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    : :focu
}

.soc-link-footer:hover {
    background-color: #31D0AA
}

.soc-link-footer:focus {
    background-color: #404bbf;
}